input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
.button1:hover {
  background-color: black; 
  color:blanchedalmond
}
.buttonH {
  background-color: red; 
  color: white;
}