<div class="card mb-4 box-shadow" style='text-align:center;'>
    <img class="card-img-top" [src]="book?.bookCover" height="100%">
    <div class="card-body">
        <p class="card-text"><strong>{{book?.bookName}}</strong></p>
        <p class="card-text">{{book?.bookDescription}}</p>
        
            <div class="btn-group" appDropdown>

                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle">
                  Manage <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a style="cursor: pointer;" (click)="onEditBook()">Edit book</a></li>
                  <li><a style="cursor: pointer;" (click)="onDeleteBook()">Delete book</a></li>
                </ul>
            </div>
      

        <router-outlet></router-outlet>
    </div>
</div>